

<footer>
    <hr style="height: 0.1px;">
    <div id="footer-container">
        <div class="column-foot">
            <h4>Home Page</h4>
            <a href="/">Home</a>
        </div>
        <div class="column-foot">
            <h4>Who are the car guys?</h4>
            <a href="/about">Learn more</a>
        </div>
        <div class="column-foot">
            <h4>Get access to projects</h4>
            <div style="text-align:center; display:flex; flex-direction:row; justify-content: center;">
                <a href="/users/login" style="margin-right: 1.5rem;">Log In</a>
                <a href="/users/signup">Sign Up</a>
            </div>
        </div>
    </div>
    
    <p id="copyright">©2022 The Car Guys</p>
</footer> 