<div id="about-us">
    <h1>{{mainTitle}}</h1>

    <p>
        {{mainText}}
    </p>

    <img id="jac" src="images/jac.svg">

    <h3>{{motivationTitle}}</h3>

    <p>
        {{motivationText}}
    </p>

    {{!-- icons taken from https://bootsnipp.com/snippets/M5vml --}}
    <div class="about-icons">
        <ul id="icons-ul">
            <li><a href="https://www.facebook.com/"><i id="social-fb"
                        class="fa fa-facebook-square fa-3x social"></i></a>
            </li>
            <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            </li>
            <li> <a href="https://plus.google.com/"><i id="social-gp"
                        class="fa fa-google-plus-square fa-3x social"></i></a>
            </li>
            <li> <a href="mailto:dummy@dummy.com"><i id="social-em"
                        class="fa fa-envelope-square fa-3x social"></i></a>
            </li>
        </ul>
    </div>
</div>