

<div id="error-container">
    <h2>{{errorCode}} Error</h2>

    <h5>Sorry for the inconvenience!</h5>
    <h5>There was a slight error!</h5>

    <p>Would you like to go back to the home page?</p>

    <a href="/" style="cursor: pointer; width: 175px; height: 32px;">
        <i class='fas fa-arrow-left' style='font-size:17px; margin-right: 4px;'></i>
        Home Page
    </a>
</div>