* 
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body { 
    padding: 10px;
    overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}
.navbar {
    font-weight: bold;
}
.navbar .nav-item  a:hover{
  color:#0D6EFD;
}
.mr-auto { 
    margin-right: auto;
}
footer {
    position: fixed;
    Width: 100%;
    bottom: 0;
}
.list-section {
    border-collapse: collapse;
    width: 100%;
    margin-top: 75px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }

  .trash-del{
    color:  #0D6EFD ;
  }
  .trash-del:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.2);
  }
.title { 
    color:  #0D6EFD ;
    text-decoration: none;

}
.title:hover{
    color:  #0D6EFD ;
}
#select-inventory-action-text{
  text-align: center;
  margin-top: 5rem;
}

.inventory-actions-button{
  border-radius: 0.5rem;
  width: 14rem;
  height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center
}
.inventory-actions-button:hover{
  cursor: pointer;
  box-shadow: 0 0 5px 3px #06377e;
  background-color: #0D6EFD;
}
#aside-sidebar{
  display: flex;
  flex-direction: column;
  /* align-items: inherit; */
  border: 0.5px solid #0D6EFD ;
  width: 17rem;
  height:min-content;
  border-radius: 5px;
  justify-content: flex-end;
  margin-left: 6rem;
  margin-top: 3rem;
}
#aside-sidebar > *{
  display: flex;
  justify-content:center;
  flex-direction: column;
}
#inventory-actions-form{
  margin-left: 1rem;
}

#sidebar-wrapper div form button {
    background-color:  #0D6EFD;
    color: white
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow: auto;
}

.modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#form-container-home:not(legend){
  display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 35%;
   margin-left: auto;
   margin-right:auto;
}

/* #region loginsignup.hbs */

#form-container{
    display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 50%;
   margin-left: auto;
   margin-right:auto;
}

#form-loginsignup > *{
    margin-top:1.5rem;
}

.form-label{
    margin-bottom: 5px;

}
.submit-btn{
    margin-top: 0.5rem;
}
input::placeholder{
    font-size: 14px;
}
.form-control{
    border: 1.25px solid darkgray;
}
#line-break-form{
    width: 100%;
    color: black;
    height: 2px;
    z-index: 999;
}

/* #endregion */

label{
    text-align:start;
}
legend{
    text-align: center;
    margin-bottom:1.25em;
}

table {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#language{
    margin: 1em 0em 1em 0em;
    display: flex;
    flex-direction: row;
}

#languageText{
    margin-right: 1em;
}

#add-project-btn{
    border-radius: 0.85rem;
    cursor: pointer;
    padding: 3px 5px;
    /* margin: 0 auto; */
    text-align: center;
    width: 175px;
    height: 32px; 
    margin-top: 2rem;
}

.grid-container-projects{
    display: grid;
    grid-template-columns: 1.5fr 10fr;
}

.grid-item-1{
    z-index: 999;
    max-width: 300px;
    padding: 8.5rem 0 0 2rem;
}

/* .grid-item-2{
    margin-left: -5rem;
} */

#container-projs{
    margin: 0 auto;
    width: 50rem;
    /* margin-left: -1rem; */
}
#container-projs > div{
    margin-bottom: 3rem;
}
#container-projs > div:hover{
    /* border: 1px solid #0D6EFD; */
    cursor: pointer;
    box-shadow: 0 0 5px 2px #0D6EFD;
    transition: all 200ms ease-in;
    transform: translateY(-10px);
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
 a
 {
   text-decoration: none;
   list-style: none;
 }
 
 #menuToggle
 {
   display: block;
   position: absolute;
   top: 50px;
   right: 50px;
   height: 100%;
   
   z-index: 999;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   color: rgba(0, 0, 0, 0.55);
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   opacity: 1;
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 0;
   padding: 50px;
   padding-top: 125px;
   right: -100px;
   height:100%;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's fade it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
   opacity: 1;
 }
 
 @media screen and (max-width: 768px) {
   #menu {
     transform: none;
     opacity: 0;
 
     transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }
 }
 /* ***************************************************** */

 #show-project-flex{
   display: grid;
   grid-template-columns: 2fr 5fr;
   gap: 1em;
}

/* #show-project-first-flex{
  flex: 1.5; 
  justify-content: center;
} */

#show-project-update-form{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 75%;
  margin-left: auto;
  margin-right:auto;
}
#show-project-all-parts{
  padding: 0 1rem 0 1.5rem;
}

.dropdown-button{
  color: #0D6EFD;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #0D6EFD;
  box-shadow: none;
  /* z-index: 0; */
}
.dropdown-button:hover, .dropdown-button:focus{
  color: white;
  background-color: #0D6EFD;
  box-shadow: none;
  border-color: white;
}
.dropdown-menu{
  border: 0.75px solid #0D6EFD;
}
.dropdown-menu-items:hover{
  background-color: #3d8bfd ;
}
.dropdown-toggle::after, .dropdown-toggle::before {
  display:none;
  border: none;
}


#form-loginsignup-update > *{
  margin-top:1.5rem;
}
#form-loginsignup-update{
  width: 100%;
}

.card-show-specific{
  width: 100%;
  margin-top: 1.5rem;
}
.card-show-specific:hover{
  cursor: pointer;
  box-shadow: 0 0 5px 2px #0D6EFD;
}
.del-button-card{
  z-index: 999;
  width: 3rem;
  height: 3rem;
}
.text-center{
  display:flex;
  justify-content: center;
  align-items: center;
}
.fa-trash-o{
  margin-top: 3px;
}
.del-button-card:hover{
  background-color: red;
  z-index: 999;
  border: 1px solid #0D6EFD;
}
.card-grid{
  display: grid;
  grid-template-columns: 10fr 1.5fr;
}
.see-more-projects{
  max-width: 7rem;
}


/* #region About page */

#about-us{
  text-align: center;
  margin-top: 2em;
}

#about-us p{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

#jac{
  margin: 1.5em 0em 2.5em 0em;
}

#icons-ul{
  padding: 0;
}

/* Social Icons */
.about-icons {margin:48px 0px 48px 0px ;}
.about-icons i{margin-right: 10px;padding: 0px; font-size:35px;color:#323232;box-shadow: 0 0 3px rgba(0, 0, 0, .2);}
.about-icons li {margin:0px;padding:0;display:inline-block;}
#social-fb:hover {color: #3B5998;transition:all .001s;}
 #social-tw:hover {color: #4099FF;transition:all .001s;}
 #social-gp:hover {color: #d34836;transition:all .001s;}
 #social-em:hover {color: #f39c12;transition:all .001s;}

 /* #endregion */

/* #region error page*/

#error-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  text-align: center;
  margin-top:3rem;
}
#error-button-back-home{
  cursor: pointer; 
  background-color: #0D6EFD;
  color:white;
  width:200px;
  height: 50px;
  border-radius: 10px;
  padding: 0.35rem 0.75rem;
  transition: 200ms ease-in-out;
}
#error-button-back-home:hover{
  border: 1px solid #0D6EFD;
  background-color: white;;
  color: #0D6EFD;
}
#text-container-error{
  margin-top: 2rem;
  text-align: center;
}
#text-container-error > *{
  margin-top: 15px;
  text-align: center;
  font-size:30px;
}
#error-container p{
  font-size:18.5px;
}
#error-container-going-back-home{
  margin-top: 4rem;
}

/* #endregion*/